<footer id="footer" aria-label="Footer" class="footer">
  <nav id="footer-navigation" class="navigation" aria-label="Socials and feed navigation">
    <a class="navigation__link" href="//linkedin.com/in/jeremiasmenichelli" target="_blank" rel="noopener noreferrer">Linkedin</a>
    <a class="navigation__link" href="/speaking/" target="_blank" rel="noopener noreferrer">GitHub</a>
    <a class="navigation__link" href="//bsky.app/profile/jeremias.codes" target="_blank" rel="noopener noreferrer">Bluesky</a>
    <a class="navigation__link navigation__main-link" href="/feed.xml" target="_blank" rel="noopener noreferrer">RSS</a>
  </nav>
</footer>