<footer id="footer" aria-label="Footer" class="footer">
  <nav id="footer-navigation" class="navigation" aria-label="Socials and feed navigation">
    <a class="navigation__link" href="//linkedin.com/in/jeremiasmenichelli" target="_blank" rel="noopener noreferrer">Linkedin</a>
    <a class="navigation__link" href="/speaking/" target="_blank" rel="noopener noreferrer">GitHub</a>
    <a class="navigation__link" href="//x.com/jeremenichelli" target="_blank" rel="noopener noreferrer">X <del aria-label="The social network formerly knownn as Twitter">Twitter</del></a>
    <a class="navigation__link navigation__main-link" href="/feed/" target="_blank" rel="noopener noreferrer">RSS</a>
  </nav>
</footer>